<div class='form'>
  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :name %> 
        <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :image %>
        <br>
      <%= f.text_field :image %>
    </div>
    <div class="field">
      <%= f.label :description %>
        <br>
      <%= f.text_field :description %>
    <div class="field">
    <%= f.submit 'Update Post' %>
  <% end %>
</div>