<div class='form'>  
  <% if @post.errors.any? %>
    <section id="errors" >
      <h2> <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved: </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :name %> 
        <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :image %>
        <br>
      <%= f.text_field :image %>
    </div>
    <div class="field">
      <%= f.label :description %>
        <br>
      <%= f.text_field :description %>
    <div class="field">
    <%= f.submit 'Submit Post' %>
  <% end %>
</div>